In [1]:
import os # Operating System
import numpy as np
import pandas as pd
import datetime as dt # Datetime
import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

!conda install -c conda-forge folium=0.5.0 --yes
import folium #import folium # map rendering library

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1c             |       h516909a_0         2.1 MB  conda-forge
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    ca-certificates-2019.9.11  |       hecc5488_0         144 KB  conda-forge
    certifi-2019.9.11          |           py36_0         147 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.20.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.8.28-0                   --> 2019.9.11-hecc5488_0 conda-forge
    certifi:         2019.9.11-py36_0              --> 2019.9.11-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_2             --> 1.1.1c-h516909a_0    conda-forge


Downloading and Extracting Packages
openssl-1.1.1c       | 2.1 MB    | ##################################### | 100%
geopy-1.20.0         | 57 KB     | ##################################### | 100%
ca-certificates-2019 | 144 KB    | ##################################### | 100%
certifi-2019.9.11    | 147 KB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.3.1               |             py_0          25 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    altair-3.2.0               |           py36_0         770 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         868 KB

The following NEW packages will be INSTALLED:

    altair:  3.2.0-py36_0 conda-forge
    branca:  0.3.1-py_0   conda-forge
    folium:  0.5.0-py_0   conda-forge
    vincent: 0.4.4-py_1   conda-forge


Downloading and Extracting Packages
branca-0.3.1         | 25 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
altair-3.2.0         | 770 KB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [2]:
#Read the data for examination (Source: http://landregistry.data.gov.uk/)
df_ppd = pd.read_csv("http://prod2.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2018.csv")

# Explore and Understand Data
We read the dataset that we collected from the HM Land Registry website into a pandas' data frame and display the first five rows of it as follows:

In [3]:
df_ppd.head(5)

,{666758D7-43A9-3363-E053-6B04A8C0D74E},405000,2018-01-25 00:00,WR15 8LH,D,N,F,RAMBLERS WAY,Unnamed: 8,Unnamed: 9,BORASTON,TENBURY WELLS,SHROPSHIRE,SHROPSHIRE.1,A,A.1
0,{666758D7-43AA-3363-E053-6B04A8C0D74E},315000,2018-01-23 00:00,SY7 8QA,D,N,F,MONT CENISE,NaN,NaN,CLUN,CRAVEN ARMS,SHROPSHIRE,SHROPSHIRE,A,A
1,{666758D7-43AD-3363-E053-6B04A8C0D74E},165000,2018-01-19 00:00,SY1 2BF,T,Y,F,42,NaN,PENSON WAY,NaN,SHREWSBURY,SHROPSHIRE,SHROPSHIRE,A,A
2,{666758D7-43B0-3363-E053-6B04A8C0D74E},370000,2018-01-22 00:00,SY8 4DF,D,N,F,WILLOW HEY,NaN,NaN,ASHFORD CARBONEL,LUDLOW,SHROPSHIRE,SHROPSHIRE,A,A
3,{666758D7-43B3-3363-E053-6B04A8C0D74E},320000,2018-01-19 00:00,TF10 7ET,D,N,F,3,NaN,PRINCESS GARDENS,NaN,NEWPORT,WREKIN,WREKIN,A,A
4,{666758D7-43B4-3363-E053-6B04A8C0D74E},180000,2018-01-31 00:00,SY3 0NQ,S,N,F,79,NaN,LYTHWOOD ROAD,BAYSTON HILL,SHREWSBURY,SHROPSHIRE,SHROPSHIRE,A,A

In [4]:
df_ppd.shape

(1024431, 16)

### Data preparation and preprocessing
#### Data Prepration using following steps

Rename the column names, format date, select data for london, sort by sale, calculate avrage street price, map this data against the cordinates and recommend locaions on the map along with average prices.
Format the date column

In [5]:
# Assign meaningful column names
df_ppd.columns = ['TUID', 'Price', 'Date_Transfer', 'Postcode', 'Prop_Type', 'Old_New', 'Duration', 'PAON', \
                  'SAON', 'Street', 'Locality', 'Town_City', 'District', 'County', 'PPD_Cat_Type', 'Record_Status']

In [6]:
# Format the date column
df_ppd['Date_Transfer'] = df_ppd['Date_Transfer'].apply(pd.to_datetime)

# Delete all obsolete transactions which were done before 2016
df_ppd.drop(df_ppd[df_ppd.Date_Transfer.dt.year < 2016].index, inplace=True)

# Sort by Date of Sale
df_ppd.sort_values(by=['Date_Transfer'],ascending=[False],inplace=True)

In [7]:
df_ppd_london = df_ppd.query("Town_City == 'LONDON'")

# Make a list of street names in LONDON
streets = df_ppd_london['Street'].unique().tolist()

In [8]:
df_grp_price = df_ppd_london.groupby(['Street'])['Price'].mean().reset_index()

# Give meaningful names to the columns
df_grp_price.columns = ['Street', 'Avg_Price']

In [9]:
#Input your Budget's Upper Limit and Lower Limit - Find the locations df_grp_price which fits your budget
df_affordable = df_grp_price.query("(Avg_Price >= 2200000) & (Avg_Price <= 2500000)")

In [10]:
# Display the dataframe
df_affordable

                      Street     Avg_Price
196            ALBION SQUARE  2.450000e+06
391              ANHALT ROAD  2.435000e+06
406          ANSDELL TERRACE  2.250000e+06
422          APPLEGARTH ROAD  2.400000e+06
855          BARONSMEAD ROAD  2.375000e+06
981           BEAUCLERC ROAD  2.480000e+06
1102         BELVEDERE DRIVE  2.340000e+06
1215       BICKENHALL STREET  2.208500e+06
1253       BIRCHLANDS AVENUE  2.217000e+06
1553          BRAMPTON GROVE  2.456875e+06
1632       BRIARDALE GARDENS  2.397132e+06
1797                BROOKWAY  2.400000e+06
1914            BURBAGE ROAD  2.445000e+06
1980               BURY WALK  2.492500e+06
2068         CALLCOTT STREET  2.375000e+06
2129       CAMPDEN HILL ROAD  2.379653e+06
2136            CAMPION ROAD  2.461000e+06
2158           CANNING PLACE  2.425000e+06
2225           CARLISLE ROAD  2.200000e+06
2230         CARLTON GARDENS  2.483500e+06
2242           CARLYLE COURT  2.300000e+06
2405          CHALCOT SQUARE  2.286679e+06
2483            CHARLES LANE  2.414000e+06
2561        CHELSEA CRESCENT  2.495000e+06
2605     CHESTER CLOSE NORTH  2.450000e+06
2637            CHEYNE COURT  2.250000e+06
2640              CHEYNE ROW  2.410000e+06
2685           CHISWICK MALL  2.287500e+06
2760               CITY ROAD  2.468340e+06
2807        CLARENDON STREET  2.250000e+06
...                      ...           ...
10912   RUSSELL GARDENS MEWS  2.300000e+06
11159         SETTLES STREET  2.487500e+06
11234         SHELDON AVENUE  2.349542e+06
11468          SOUTH END ROW  2.470000e+06
11546    SOUTHWOOD LAWN ROAD  2.350000e+06
11549         SOVEREIGN PARK  2.500000e+06
11765  ST MARGARETS CRESCENT  2.216500e+06
11801       ST OSWALDS PLACE  2.250000e+06
11821       ST PETERS SQUARE  2.468730e+06
11858       STAFFORD TERRACE  2.355000e+06
12197       SUTHERLAND PLACE  2.456000e+06
12259          SYDNEY STREET  2.240833e+06
12401            THAMES BANK  2.400000e+06
12463            THE HEXAGON  2.335000e+06
12742        TREDEGAR SQUARE  2.436666e+06
12804         TRINITY STREET  2.317500e+06
12954   UPPER HAMPSTEAD WALK  2.500000e+06
13216        WALPOLE GARDENS  2.303500e+06
13218         WALPOLE STREET  2.242500e+06
13292         WARWICK SQUARE  2.432273e+06
13389            WELBECK WAY  2.267000e+06
13401      WELLESLEY TERRACE  2.410000e+06
13412      WELLINGTON STREET  2.293155e+06
13544     WESTMORELAND PLACE  2.300000e+06
13651       WHITFIELD STREET  2.451000e+06
13696         WILFRED STREET  2.410538e+06
13722     WILLOW BRIDGE ROAD  2.425000e+06
13742          WILSON STREET  2.257500e+06
13770        WINCHENDON ROAD  2.350000e+06
13807           WINGATE ROAD  2.206400e+06

[160 rows x 2 columns]

In [11]:
import pandas as pd
import numpy as np
import datetime as DT
import hmac
from geopy.geocoders import Nominatim
from geopy.distance import vincenty
# import k-means from clustering stage
from sklearn.cluster import KMeans

In [12]:
for index, item in df_affordable.iterrows():
    print(f"index: {index}")
    print(f"item: {item}")
    print(f"item.Street only: {item.Street}")

index: 196
item: Street       ALBION SQUARE
Avg_Price         2.45e+06
Name: 196, dtype: object
item.Street only: ALBION SQUARE
index: 391
item: Street       ANHALT ROAD
Avg_Price      2.435e+06
Name: 391, dtype: object
item.Street only: ANHALT ROAD
index: 406
item: Street       ANSDELL TERRACE
Avg_Price           2.25e+06
Name: 406, dtype: object
item.Street only: ANSDELL TERRACE
index: 422
item: Street       APPLEGARTH ROAD
Avg_Price            2.4e+06
Name: 422, dtype: object
item.Street only: APPLEGARTH ROAD
index: 855
item: Street       BARONSMEAD ROAD
Avg_Price          2.375e+06
Name: 855, dtype: object
item.Street only: BARONSMEAD ROAD
index: 981
item: Street       BEAUCLERC ROAD
Avg_Price          2.48e+06
Name: 981, dtype: object
item.Street only: BEAUCLERC ROAD
index: 1102
item: Street       BELVEDERE DRIVE
Avg_Price           2.34e+06
Name: 1102, dtype: object
item.Street only: BELVEDERE DRIVE
index: 1215
item: Street       BICKENHALL STREET
Avg_Price           2.2085e+06
Name: 1215, dtype: object
item.Street only: BICKENHALL STREET
index: 1253
item: Street       BIRCHLANDS AVENUE
Avg_Price            2.217e+06
Name: 1253, dtype: object
item.Street only: BIRCHLANDS AVENUE
index: 1553
item: Street       BRAMPTON GROVE
Avg_Price       2.45688e+06
Name: 1553, dtype: object
item.Street only: BRAMPTON GROVE
index: 1632
item: Street       BRIARDALE GARDENS
Avg_Price          2.39713e+06
Name: 1632, dtype: object
item.Street only: BRIARDALE GARDENS
index: 1797
item: Street       BROOKWAY
Avg_Price     2.4e+06
Name: 1797, dtype: object
item.Street only: BROOKWAY
index: 1914
item: Street       BURBAGE ROAD
Avg_Price       2.445e+06
Name: 1914, dtype: object
item.Street only: BURBAGE ROAD
index: 1980
item: Street        BURY WALK
Avg_Price    2.4925e+06
Name: 1980, dtype: object
item.Street only: BURY WALK
index: 2068
item: Street       CALLCOTT STREET
Avg_Price          2.375e+06
Name: 2068, dtype: object
item.Street only: CALLCOTT STREET
index: 2129
item: Street       CAMPDEN HILL ROAD
Avg_Price          2.37965e+06
Name: 2129, dtype: object
item.Street only: CAMPDEN HILL ROAD
index: 2136
item: Street       CAMPION ROAD
Avg_Price       2.461e+06
Name: 2136, dtype: object
item.Street only: CAMPION ROAD
index: 2158
item: Street       CANNING PLACE
Avg_Price        2.425e+06
Name: 2158, dtype: object
item.Street only: CANNING PLACE
index: 2225
item: Street       CARLISLE ROAD
Avg_Price          2.2e+06
Name: 2225, dtype: object
item.Street only: CARLISLE ROAD
index: 2230
item: Street       CARLTON GARDENS
Avg_Price         2.4835e+06
Name: 2230, dtype: object
item.Street only: CARLTON GARDENS
index: 2242
item: Street       CARLYLE COURT
Avg_Price          2.3e+06
Name: 2242, dtype: object
item.Street only: CARLYLE COURT
index: 2405
item: Street       CHALCOT SQUARE
Avg_Price       2.28668e+06
Name: 2405, dtype: object
item.Street only: CHALCOT SQUARE
index: 2483
item: Street       CHARLES LANE
Avg_Price       2.414e+06
Name: 2483, dtype: object
item.Street only: CHARLES LANE
index: 2561
item: Street       CHELSEA CRESCENT
Avg_Price           2.495e+06
Name: 2561, dtype: object
item.Street only: CHELSEA CRESCENT
index: 2605
item: Street       CHESTER CLOSE NORTH
Avg_Price               2.45e+06
Name: 2605, dtype: object
item.Street only: CHESTER CLOSE NORTH
index: 2637
item: Street       CHEYNE COURT
Avg_Price        2.25e+06
Name: 2637, dtype: object
item.Street only: CHEYNE COURT
index: 2640
item: Street       CHEYNE ROW
Avg_Price      2.41e+06
Name: 2640, dtype: object
item.Street only: CHEYNE ROW
index: 2685
item: Street       CHISWICK MALL
Avg_Price       2.2875e+06
Name: 2685, dtype: object
item.Street only: CHISWICK MALL
index: 2760
item: Street         CITY ROAD
Avg_Price    2.46834e+06
Name: 2760, dtype: object
item.Street only: CITY ROAD
index: 2807
item: Street       CLARENDON STREET
Avg_Price            2.25e+06
Name: 2807, dtype: object
item.Street only: CLARENDON STREET
index: 2899
item: Street       CLONCURRY STREET
Avg_Price         2.38833e+06
Name: 2899, dtype: object
item.Street only: CLONCURRY STREET
index: 2943
item: Street       COLBECK MEWS
Avg_Price      2.3675e+06
Name: 2943, dtype: object
item.Street only: COLBECK MEWS
index: 3201
item: Street       CORNWALL TERRACE MEWS
Avg_Price                 2.35e+06
Name: 3201, dtype: object
item.Street only: CORNWALL TERRACE MEWS
index: 3254
item: Street       COURT LANE GARDENS
Avg_Price              2.36e+06
Name: 3254, dtype: object
item.Street only: COURT LANE GARDENS
index: 3376
item: Street       CRESCENT GROVE
Avg_Price         2.298e+06
Name: 3376, dtype: object
item.Street only: CRESCENT GROVE
index: 3582
item: Street       DALEBURY ROAD
Avg_Price          2.4e+06
Name: 3582, dtype: object
item.Street only: DALEBURY ROAD
index: 3847
item: Street       DEWHURST ROAD
Avg_Price        2.425e+06
Name: 3847, dtype: object
item.Street only: DEWHURST ROAD
index: 3928
item: Street       DORIA ROAD
Avg_Price    2.3625e+06
Name: 3928, dtype: object
item.Street only: DORIA ROAD
index: 3979
item: Street       DOWNSHIRE HILL
Avg_Price         2.225e+06
Name: 3979, dtype: object
item.Street only: DOWNSHIRE HILL
index: 4034
item: Street       DUCHESS WALK
Avg_Price      2.4775e+06
Name: 4034, dtype: object
item.Street only: DUCHESS WALK
index: 4230
item: Street       ECCLESTON SQUARE MEWS
Avg_Price               2.3355e+06
Name: 4230, dtype: object
item.Street only: ECCLESTON SQUARE MEWS
index: 4283
item: Street       EGBERT STREET
Avg_Price        2.265e+06
Name: 4283, dtype: object
item.Street only: EGBERT STREET
index: 4287
item: Street       EGERTON PLACE
Avg_Price          2.2e+06
Name: 4287, dtype: object
item.Street only: EGERTON PLACE
index: 4372
item: Street       ELM PARK ROAD
Avg_Price      2.32042e+06
Name: 4372, dtype: object
item.Street only: ELM PARK ROAD
index: 5010
item: Street       FRANK DIXON WAY
Avg_Price         2.2125e+06
Name: 5010, dtype: object
item.Street only: FRANK DIXON WAY
index: 5092
item: Street       FULTON MEWS
Avg_Price      2.299e+06
Name: 5092, dtype: object
item.Street only: FULTON MEWS
index: 5235
item: Street       GERARD ROAD
Avg_Price     2.2585e+06
Name: 5235, dtype: object
item.Street only: GERARD ROAD
index: 5238
item: Street       GERRARD ROAD
Avg_Price      2.2425e+06
Name: 5238, dtype: object
item.Street only: GERRARD ROAD
index: 5283
item: Street       GIRDLERS ROAD
Avg_Price      2.44167e+06
Name: 5283, dtype: object
item.Street only: GIRDLERS ROAD
index: 5376
item: Street       GLOUCESTER CRESCENT
Avg_Price            2.35083e+06
Name: 5376, dtype: object
item.Street only: GLOUCESTER CRESCENT
index: 5444
item: Street       GORDON PLACE
Avg_Price       2.477e+06
Name: 5444, dtype: object
item.Street only: GORDON PLACE
index: 5480
item: Street       GRAFTON SQUARE
Avg_Price          2.27e+06
Name: 5480, dtype: object
item.Street only: GRAFTON SQUARE
index: 5487
item: Street       GRAHAM TERRACE
Avg_Price         2.325e+06
Name: 5487, dtype: object
item.Street only: GRAHAM TERRACE
index: 5944
item: Street       HARMAN DRIVE
Avg_Price      2.2625e+06
Name: 5944, dtype: object
item.Street only: HARMAN DRIVE
index: 5968
item: Street       HARRIS STREET
Avg_Price      2.47177e+06
Name: 5968, dtype: object
item.Street only: HARRIS STREET
index: 6030
item: Street       HAVANNAH STREET
Avg_Price        2.21731e+06
Name: 6030, dtype: object
item.Street only: HAVANNAH STREET
index: 6102
item: Street       HAZLEWELL ROAD
Avg_Price           2.5e+06
Name: 6102, dtype: object
item.Street only: HAZLEWELL ROAD
index: 6218
item: Street       HEREFORD MEWS
Avg_Price         2.31e+06
Name: 6218, dtype: object
item.Street only: HEREFORD MEWS
index: 6238
item: Street       HERONDALE AVENUE
Avg_Price           2.475e+06
Name: 6238, dtype: object
item.Street only: HERONDALE AVENUE
index: 6335
item: Street       HIGHGATE HIGH STREET
Avg_Price               2.211e+06
Name: 6335, dtype: object
item.Street only: HIGHGATE HIGH STREET
index: 6350
item: Street       HIGHWOOD HILL
Avg_Price       2.2525e+06
Name: 6350, dtype: object
item.Street only: HIGHWOOD HILL
index: 6386
item: Street       HILLGATE PLACE
Avg_Price           2.2e+06
Name: 6386, dtype: object
item.Street only: HILLGATE PLACE
index: 6497
item: Street       HOLLYCROFT AVENUE
Avg_Price          2.36138e+06
Name: 6497, dtype: object
item.Street only: HOLLYCROFT AVENUE
index: 6501
item: Street       HOLLYWOOD MEWS
Avg_Price          2.35e+06
Name: 6501, dtype: object
item.Street only: HOLLYWOOD MEWS
index: 6546
item: Street       HONEYWELL ROAD
Avg_Price       2.27833e+06
Name: 6546, dtype: object
item.Street only: HONEYWELL ROAD
index: 6601
item: Street       HORTENSIA ROAD
Avg_Price       2.27592e+06
Name: 6601, dtype: object
item.Street only: HORTENSIA ROAD
index: 6630
item: Street       HOXTON SQUARE
Avg_Price      2.23429e+06
Name: 6630, dtype: object
item.Street only: HOXTON SQUARE
index: 6656
item: Street       HUNTER ROAD
Avg_Price        2.3e+06
Name: 6656, dtype: object
item.Street only: HUNTER ROAD
index: 6814
item: Street       JACKSONS LANE
Avg_Price       2.3625e+06
Name: 6814, dtype: object
item.Street only: JACKSONS LANE
index: 6874
item: Street       JOHN STREET
Avg_Price      2.235e+06
Name: 6874, dtype: object
item.Street only: JOHN STREET
index: 7178
item: Street       KINNERTON STREET
Avg_Price          2.4856e+06
Name: 7178, dtype: object
item.Street only: KINNERTON STREET
index: 7212
item: Street       KNARESBOROUGH PLACE
Avg_Price              2.325e+06
Name: 7212, dtype: object
item.Street only: KNARESBOROUGH PLACE
index: 7232
item: Street       KNOX STREET
Avg_Price       2.25e+06
Name: 7232, dtype: object
item.Street only: KNOX STREET
index: 7252
item: Street       LADBROKE GROVE
Avg_Price        2.4833e+06
Name: 7252, dtype: object
item.Street only: LADBROKE GROVE
index: 7321
item: Street       LANCASTER MEWS
Avg_Price        2.3125e+06
Name: 7321, dtype: object
item.Street only: LANCASTER MEWS
index: 7391
item: Street       LANSDOWNE ROAD
Avg_Price       2.42987e+06
Name: 7391, dtype: object
item.Street only: LANSDOWNE ROAD
index: 7419
item: Street       LATIMER INDUSTRIAL ESTATE
Avg_Price                      2.4e+06
Name: 7419, dtype: object
item.Street only: LATIMER INDUSTRIAL ESTATE
index: 7472
item: Street       LAXTON PLACE
Avg_Price         2.5e+06
Name: 7472, dtype: object
item.Street only: LAXTON PLACE
index: 7673
item: Street       LINCOLN AVENUE
Avg_Price        2.2035e+06
Name: 7673, dtype: object
item.Street only: LINCOLN AVENUE
index: 7701
item: Street       LINGFIELD ROAD
Avg_Price       2.24875e+06
Name: 7701, dtype: object
item.Street only: LINGFIELD ROAD
index: 7730
item: Street       LISSON STREET
Avg_Price       2.4625e+06
Name: 7730, dtype: object
item.Street only: LISSON STREET
index: 7764
item: Street       LIVERPOOL GROVE
Avg_Price          2.288e+06
Name: 7764, dtype: object
item.Street only: LIVERPOOL GROVE
index: 7856
item: Street       LONGWOOD DRIVE
Avg_Price         2.375e+06
Name: 7856, dtype: object
item.Street only: LONGWOOD DRIVE
index: 7862
item: Street       LONSDALE SQUARE
Avg_Price         2.3575e+06
Name: 7862, dtype: object
item.Street only: LONSDALE SQUARE
index: 8400
item: Street       MAZE HILL
Avg_Price     2.25e+06
Name: 8400, dtype: object
item.Street only: MAZE HILL
index: 8535
item: Street       MIDDLESEX PASSAGE
Avg_Price             2.28e+06
Name: 8535, dtype: object
item.Street only: MIDDLESEX PASSAGE
index: 8698
item: Street       MONTPELIER AVENUE
Avg_Price              2.5e+06
Name: 8698, dtype: object
item.Street only: MONTPELIER AVENUE
index: 8708
item: Street       MONTPELIER WALK
Avg_Price           2.32e+06
Name: 8708, dtype: object
item.Street only: MONTPELIER WALK
index: 8856
item: Street       MULTON ROAD
Avg_Price        2.3e+06
Name: 8856, dtype: object
item.Street only: MULTON ROAD
index: 8861
item: Street       MUNDEN STREET
Avg_Price         2.25e+06
Name: 8861, dtype: object
item.Street only: MUNDEN STREET
index: 9133
item: Street       NORFOLK CRESCENT
Avg_Price         2.22333e+06
Name: 9133, dtype: object
item.Street only: NORFOLK CRESCENT
index: 9156
item: Street       NORTH CIRCULAR ROAD
Avg_Price            2.39314e+06
Name: 9156, dtype: object
item.Street only: NORTH CIRCULAR ROAD
index: 9232
item: Street       NOTTINGHAM STREET
Avg_Price           2.2275e+06
Name: 9232, dtype: object
item.Street only: NOTTINGHAM STREET
index: 9307
item: Street       OAKLEY STREET
Avg_Price      2.38129e+06
Name: 9307, dtype: object
item.Street only: OAKLEY STREET
index: 9318
item: Street       OAKWOOD COURT
Avg_Price      2.34875e+06
Name: 9318, dtype: object
item.Street only: OAKWOOD COURT
index: 9326
item: Street       OBSERVATORY GARDENS
Avg_Price               2.42e+06
Name: 9326, dtype: object
item.Street only: OBSERVATORY GARDENS
index: 9361
item: Street       OLD COURT PLACE
Avg_Price          2.395e+06
Name: 9361, dtype: object
item.Street only: OLD COURT PLACE
index: 9422
item: Street       ONSLOW MEWS WEST
Avg_Price             2.3e+06
Name: 9422, dtype: object
item.Street only: ONSLOW MEWS WEST
index: 9554
item: Street       PALACE PLACE
Avg_Price         2.3e+06
Name: 9554, dtype: object
item.Street only: PALACE PLACE
index: 9583
item: Street       PANTON STREET
Avg_Price        2.475e+06
Name: 9583, dtype: object
item.Street only: PANTON STREET
index: 9602
item: Street       PARK CRESCENT
Avg_Price         2.44e+06
Name: 9602, dtype: object
item.Street only: PARK CRESCENT
index: 9611
item: Street        PARK LANE
Avg_Price    2.2415e+06
Name: 9611, dtype: object
item.Street only: PARK LANE
index: 9632
item: Street       PARKE ROAD
Avg_Price    2.2625e+06
Name: 9632, dtype: object
item.Street only: PARKE ROAD
index: 9635
item: Street       PARKFIELDS
Avg_Price       2.2e+06
Name: 9635, dtype: object
item.Street only: PARKFIELDS
index: 9672
item: Street       PARTHENIA ROAD
Avg_Price       2.20057e+06
Name: 9672, dtype: object
item.Street only: PARTHENIA ROAD
index: 9704
item: Street       PAVILION ROAD
Avg_Price          2.2e+06
Name: 9704, dtype: object
item.Street only: PAVILION ROAD
index: 9765
item: Street       PEMBRIDGE MEWS
Avg_Price         2.251e+06
Name: 9765, dtype: object
item.Street only: PEMBRIDGE MEWS
index: 9767
item: Street       PEMBRIDGE ROAD
Avg_Price           2.4e+06
Name: 9767, dtype: object
item.Street only: PEMBRIDGE ROAD
index: 9776
item: Street       PEMBROKE STUDIOS
Avg_Price            2.45e+06
Name: 9776, dtype: object
item.Street only: PEMBROKE STUDIOS
index: 9781
item: Street       PENCOMBE MEWS
Avg_Price          2.2e+06
Name: 9781, dtype: object
item.Street only: PENCOMBE MEWS
index: 9860
item: Street       PETERSHAM PLACE
Avg_Price            2.3e+06
Name: 9860, dtype: object
item.Street only: PETERSHAM PLACE
index: 9875
item: Street       PHILLIMORE GARDENS
Avg_Price           2.48467e+06
Name: 9875, dtype: object
item.Street only: PHILLIMORE GARDENS
index: 9883
item: Street       PHYSIC PLACE
Avg_Price         2.5e+06
Name: 9883, dtype: object
item.Street only: PHYSIC PLACE
index: 9921
item: Street       PITFIELD STREET
Avg_Price        2.48333e+06
Name: 9921, dtype: object
item.Street only: PITFIELD STREET
index: 10131
item: Street       PRINCES GATE
Avg_Price     2.40333e+06
Name: 10131, dtype: object
item.Street only: PRINCES GATE
index: 10159
item: Street       PRIORY ROAD
Avg_Price    2.24826e+06
Name: 10159, dtype: object
item.Street only: PRIORY ROAD
index: 10170
item: Street       PROTHERO GARDENS
Avg_Price          2.2025e+06
Name: 10170, dtype: object
item.Street only: PROTHERO GARDENS
index: 10206
item: Street       PUTNEY HIGH STREET
Avg_Price            2.3486e+06
Name: 10206, dtype: object
item.Street only: PUTNEY HIGH STREET
index: 10223
item: Street       QUARRENDON STREET
Avg_Price          2.43775e+06
Name: 10223, dtype: object
item.Street only: QUARRENDON STREET
index: 10256
item: Street       QUEENS GATE TERRACE
Avg_Price            2.39944e+06
Name: 10256, dtype: object
item.Street only: QUEENS GATE TERRACE
index: 10310
item: Street       RADSTOCK STREET
Avg_Price         2.2175e+06
Name: 10310, dtype: object
item.Street only: RADSTOCK STREET
index: 10355
item: Street       RANELAGH AVENUE
Avg_Price            2.3e+06
Name: 10355, dtype: object
item.Street only: RANELAGH AVENUE
index: 10462
item: Street       REDCLIFFE ROAD
Avg_Price       2.44875e+06
Name: 10462, dtype: object
item.Street only: REDCLIFFE ROAD
index: 10487
item: Street       REEVES MEWS
Avg_Price       2.45e+06
Name: 10487, dtype: object
item.Street only: REEVES MEWS
index: 10544
item: Street       RHEIDOL MEWS
Avg_Price        2.31e+06
Name: 10544, dtype: object
item.Street only: RHEIDOL MEWS
index: 10598
item: Street       RINGWOOD AVENUE
Avg_Price          2.275e+06
Name: 10598, dtype: object
item.Street only: RINGWOOD AVENUE
index: 10678
item: Street       RODERICK ROAD
Avg_Price          2.4e+06
Name: 10678, dtype: object
item.Street only: RODERICK ROAD
index: 10735
item: Street       ROPEMAKERS FIELDS
Avg_Price              2.5e+06
Name: 10735, dtype: object
item.Street only: ROPEMAKERS FIELDS
index: 10849
item: Street       ROYAL CRESCENT
Avg_Price       2.34833e+06
Name: 10849, dtype: object
item.Street only: ROYAL CRESCENT
index: 10855
item: Street       ROYAL HILL
Avg_Price    2.2525e+06
Name: 10855, dtype: object
item.Street only: ROYAL HILL
index: 10912
item: Street       RUSSELL GARDENS MEWS
Avg_Price                 2.3e+06
Name: 10912, dtype: object
item.Street only: RUSSELL GARDENS MEWS
index: 11159
item: Street       SETTLES STREET
Avg_Price        2.4875e+06
Name: 11159, dtype: object
item.Street only: SETTLES STREET
index: 11234
item: Street       SHELDON AVENUE
Avg_Price       2.34954e+06
Name: 11234, dtype: object
item.Street only: SHELDON AVENUE
index: 11468
item: Street       SOUTH END ROW
Avg_Price         2.47e+06
Name: 11468, dtype: object
item.Street only: SOUTH END ROW
index: 11546
item: Street       SOUTHWOOD LAWN ROAD
Avg_Price               2.35e+06
Name: 11546, dtype: object
item.Street only: SOUTHWOOD LAWN ROAD
index: 11549
item: Street       SOVEREIGN PARK
Avg_Price           2.5e+06
Name: 11549, dtype: object
item.Street only: SOVEREIGN PARK
index: 11765
item: Street       ST MARGARETS CRESCENT
Avg_Price               2.2165e+06
Name: 11765, dtype: object
item.Street only: ST MARGARETS CRESCENT
index: 11801
item: Street       ST OSWALDS PLACE
Avg_Price            2.25e+06
Name: 11801, dtype: object
item.Street only: ST OSWALDS PLACE
index: 11821
item: Street       ST PETERS SQUARE
Avg_Price         2.46873e+06
Name: 11821, dtype: object
item.Street only: ST PETERS SQUARE
index: 11858
item: Street       STAFFORD TERRACE
Avg_Price           2.355e+06
Name: 11858, dtype: object
item.Street only: STAFFORD TERRACE
index: 12197
item: Street       SUTHERLAND PLACE
Avg_Price           2.456e+06
Name: 12197, dtype: object
item.Street only: SUTHERLAND PLACE
index: 12259
item: Street       SYDNEY STREET
Avg_Price      2.24083e+06
Name: 12259, dtype: object
item.Street only: SYDNEY STREET
index: 12401
item: Street       THAMES BANK
Avg_Price        2.4e+06
Name: 12401, dtype: object
item.Street only: THAMES BANK
index: 12463
item: Street       THE HEXAGON
Avg_Price      2.335e+06
Name: 12463, dtype: object
item.Street only: THE HEXAGON
index: 12742
item: Street       TREDEGAR SQUARE
Avg_Price        2.43667e+06
Name: 12742, dtype: object
item.Street only: TREDEGAR SQUARE
index: 12804
item: Street       TRINITY STREET
Avg_Price        2.3175e+06
Name: 12804, dtype: object
item.Street only: TRINITY STREET
index: 12954
item: Street       UPPER HAMPSTEAD WALK
Avg_Price                 2.5e+06
Name: 12954, dtype: object
item.Street only: UPPER HAMPSTEAD WALK
index: 13216
item: Street       WALPOLE GARDENS
Avg_Price         2.3035e+06
Name: 13216, dtype: object
item.Street only: WALPOLE GARDENS
index: 13218
item: Street       WALPOLE STREET
Avg_Price        2.2425e+06
Name: 13218, dtype: object
item.Street only: WALPOLE STREET

In [13]:
geolocator = Nominatim()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  if __name__ == '__main__':

In [14]:
df_affordable['city_coord'] = df_affordable['Street'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))

GeocoderUnavailable: Service not available

In [15]:
df_affordable

                      Street     Avg_Price
196            ALBION SQUARE  2.450000e+06
391              ANHALT ROAD  2.435000e+06
406          ANSDELL TERRACE  2.250000e+06
422          APPLEGARTH ROAD  2.400000e+06
855          BARONSMEAD ROAD  2.375000e+06
981           BEAUCLERC ROAD  2.480000e+06
1102         BELVEDERE DRIVE  2.340000e+06
1215       BICKENHALL STREET  2.208500e+06
1253       BIRCHLANDS AVENUE  2.217000e+06
1553          BRAMPTON GROVE  2.456875e+06
1632       BRIARDALE GARDENS  2.397132e+06
1797                BROOKWAY  2.400000e+06
1914            BURBAGE ROAD  2.445000e+06
1980               BURY WALK  2.492500e+06
2068         CALLCOTT STREET  2.375000e+06
2129       CAMPDEN HILL ROAD  2.379653e+06
2136            CAMPION ROAD  2.461000e+06
2158           CANNING PLACE  2.425000e+06
2225           CARLISLE ROAD  2.200000e+06
2230         CARLTON GARDENS  2.483500e+06
2242           CARLYLE COURT  2.300000e+06
2405          CHALCOT SQUARE  2.286679e+06
2483            CHARLES LANE  2.414000e+06
2561        CHELSEA CRESCENT  2.495000e+06
2605     CHESTER CLOSE NORTH  2.450000e+06
2637            CHEYNE COURT  2.250000e+06
2640              CHEYNE ROW  2.410000e+06
2685           CHISWICK MALL  2.287500e+06
2760               CITY ROAD  2.468340e+06
2807        CLARENDON STREET  2.250000e+06
...                      ...           ...
10912   RUSSELL GARDENS MEWS  2.300000e+06
11159         SETTLES STREET  2.487500e+06
11234         SHELDON AVENUE  2.349542e+06
11468          SOUTH END ROW  2.470000e+06
11546    SOUTHWOOD LAWN ROAD  2.350000e+06
11549         SOVEREIGN PARK  2.500000e+06
11765  ST MARGARETS CRESCENT  2.216500e+06
11801       ST OSWALDS PLACE  2.250000e+06
11821       ST PETERS SQUARE  2.468730e+06
11858       STAFFORD TERRACE  2.355000e+06
12197       SUTHERLAND PLACE  2.456000e+06
12259          SYDNEY STREET  2.240833e+06
12401            THAMES BANK  2.400000e+06
12463            THE HEXAGON  2.335000e+06
12742        TREDEGAR SQUARE  2.436666e+06
12804         TRINITY STREET  2.317500e+06
12954   UPPER HAMPSTEAD WALK  2.500000e+06
13216        WALPOLE GARDENS  2.303500e+06
13218         WALPOLE STREET  2.242500e+06
13292         WARWICK SQUARE  2.432273e+06
13389            WELBECK WAY  2.267000e+06
13401      WELLESLEY TERRACE  2.410000e+06
13412      WELLINGTON STREET  2.293155e+06
13544     WESTMORELAND PLACE  2.300000e+06
13651       WHITFIELD STREET  2.451000e+06
13696         WILFRED STREET  2.410538e+06
13722     WILLOW BRIDGE ROAD  2.425000e+06
13742          WILSON STREET  2.257500e+06
13770        WINCHENDON ROAD  2.350000e+06
13807           WINGATE ROAD  2.206400e+06

[160 rows x 2 columns]

In [16]:
df_affordable[['Latitude', 'Longitude']] = df_affordable['city_coord'].apply(pd.Series)

KeyError: 'city_coord'

In [17]:
df_affordable

                      Street     Avg_Price
196            ALBION SQUARE  2.450000e+06
391              ANHALT ROAD  2.435000e+06
406          ANSDELL TERRACE  2.250000e+06
422          APPLEGARTH ROAD  2.400000e+06
855          BARONSMEAD ROAD  2.375000e+06
981           BEAUCLERC ROAD  2.480000e+06
1102         BELVEDERE DRIVE  2.340000e+06
1215       BICKENHALL STREET  2.208500e+06
1253       BIRCHLANDS AVENUE  2.217000e+06
1553          BRAMPTON GROVE  2.456875e+06
1632       BRIARDALE GARDENS  2.397132e+06
1797                BROOKWAY  2.400000e+06
1914            BURBAGE ROAD  2.445000e+06
1980               BURY WALK  2.492500e+06
2068         CALLCOTT STREET  2.375000e+06
2129       CAMPDEN HILL ROAD  2.379653e+06
2136            CAMPION ROAD  2.461000e+06
2158           CANNING PLACE  2.425000e+06
2225           CARLISLE ROAD  2.200000e+06
2230         CARLTON GARDENS  2.483500e+06
2242           CARLYLE COURT  2.300000e+06
2405          CHALCOT SQUARE  2.286679e+06
2483            CHARLES LANE  2.414000e+06
2561        CHELSEA CRESCENT  2.495000e+06
2605     CHESTER CLOSE NORTH  2.450000e+06
2637            CHEYNE COURT  2.250000e+06
2640              CHEYNE ROW  2.410000e+06
2685           CHISWICK MALL  2.287500e+06
2760               CITY ROAD  2.468340e+06
2807        CLARENDON STREET  2.250000e+06
...                      ...           ...
10912   RUSSELL GARDENS MEWS  2.300000e+06
11159         SETTLES STREET  2.487500e+06
11234         SHELDON AVENUE  2.349542e+06
11468          SOUTH END ROW  2.470000e+06
11546    SOUTHWOOD LAWN ROAD  2.350000e+06
11549         SOVEREIGN PARK  2.500000e+06
11765  ST MARGARETS CRESCENT  2.216500e+06
11801       ST OSWALDS PLACE  2.250000e+06
11821       ST PETERS SQUARE  2.468730e+06
11858       STAFFORD TERRACE  2.355000e+06
12197       SUTHERLAND PLACE  2.456000e+06
12259          SYDNEY STREET  2.240833e+06
12401            THAMES BANK  2.400000e+06
12463            THE HEXAGON  2.335000e+06
12742        TREDEGAR SQUARE  2.436666e+06
12804         TRINITY STREET  2.317500e+06
12954   UPPER HAMPSTEAD WALK  2.500000e+06
13216        WALPOLE GARDENS  2.303500e+06
13218         WALPOLE STREET  2.242500e+06
13292         WARWICK SQUARE  2.432273e+06
13389            WELBECK WAY  2.267000e+06
13401      WELLESLEY TERRACE  2.410000e+06
13412      WELLINGTON STREET  2.293155e+06
13544     WESTMORELAND PLACE  2.300000e+06
13651       WHITFIELD STREET  2.451000e+06
13696         WILFRED STREET  2.410538e+06
13722     WILLOW BRIDGE ROAD  2.425000e+06
13742          WILSON STREET  2.257500e+06
13770        WINCHENDON ROAD  2.350000e+06
13807           WINGATE ROAD  2.206400e+06

[160 rows x 2 columns]

In [18]:
df = df_affordable.drop(columns=['city_coord'])

KeyError: "['city_coord'] not found in axis"

In [19]:
address = 'London, UK'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of London City are 51.5073219, -0.1276474.

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  app.launch_new_instance()

In [20]:
# create map of London using latitude and longitude values
map_london = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, price, street in zip(df['Latitude'], df['Longitude'], df['Avg_Price'], df['Street']):
    label = '{}, {}'.format(street, price)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_london)  
    
map_london

NameError: name 'df' is not defined

In [21]:
#Define Foursquare Credentials and Version

CLIENT_ID = 'KI3TR0QO4JOKMFELOMF3WSOOI3HFNBF5YLW354MYWBKDHEX3' # Foursquare ID
CLIENT_SECRET = 'QF4ZBLJRBV4BQX52DVWUPEHJ14A2UJABPCZARZQZYTKIISUD' # Foursquare Secret
VERSION = '20181206' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: KI3TR0QO4JOKMFELOMF3WSOOI3HFNBF5YLW354MYWBKDHEX3
CLIENT_SECRET:QF4ZBLJRBV4BQX52DVWUPEHJ14A2UJABPCZARZQZYTKIISUD

#### Modeling phase. Analyze neighborhoods to suitable venues according to amenities and essential facilities surrounding such venues i.e. elementary schools, high schools, hospitals & grocery stores.

Use clustering methodology to analyze real estates.

In [22]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Street', 
                  'Street Latitude', 
                  'Street Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [23]:
# Run the above function on each location and create a new dataframe called location_venues and display it.
location_venues = getNearbyVenues(names=df['Street'],
                                   latitudes=df['Latitude'],
                                   longitudes=df['Longitude']
                                  )

NameError: name 'df' is not defined

In [24]:
location_venues

NameError: name 'location_venues' is not defined

In [ ]:
location_venues.groupby('Street').count()

In [ ]:
# get the List of Unique Categories
print('There are {} uniques categories.'.format(len(location_venues['Venue Category'].unique())))

In [ ]:
location_venues.shape

In [ ]:
# one hot encoding
venues_onehot = pd.get_dummies(location_venues[['Venue Category']], prefix="", prefix_sep="")

# add street column back to dataframe
venues_onehot['Street'] = location_venues['Street'] 

# move street column to the first column
fixed_columns = [venues_onehot.columns[-1]] + list(venues_onehot.columns[:-1])

#fixed_columns
venues_onehot = venues_onehot[fixed_columns]

venues_onehot.head()

In [ ]:
london_grouped = venues_onehot.groupby('Street').mean().reset_index()
london_grouped

In [ ]:
london_grouped.shape

In [ ]:
# What are the top 5 venues/facilities nearby profitable real estate investments?#

num_top_venues = 5

for hood in london_grouped['Street']:
    print("----"+hood+"----")
    temp = london_grouped[london_grouped['Street'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')